@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #071952 0%, #0A2A91 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.header {
    text-align: center;
    color: #35A29F;
}

.header h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin-bottom: 5vh;
}

.header h1 {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    font-weight: 500;
    max-width: 800px;
}

#explanation-box {
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: space-between;
}

#explanation-box #penjelasan-llm {
    background-color: #0B666A;
    height: 100%;
    width: 45%;
    border-radius: 25px;

    padding: 16px;
}

#explanation-box #penjelasan-llm>p {
    color: #97FEED;
}

#explanation-box #image-box {
    background-color: #0B666A;
    height: 100%;
    width: 45%;
    border-radius: 25px;
}